.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .agid-3 {
  background-color: #ffffff;
  height: fit-content;
  overflow-x: clip;
  position: relative;
  width: 100%;
}

.div-wrapper .frame-40 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 334px;
  width: 100%;
}

.div-wrapper .splash {
  align-items: center;
  align-self: stretch;
  background-color: var(--primaryprimary-darker);
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.div-wrapper .content-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px;
  padding: 50px 0px 50px 10%;
  position: relative;
  width: 60%;
}

.div-wrapper .frame-41 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.div-wrapper .text-wrapper-88 {
  align-self: stretch;
  color: var(--basebase-lightest);
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  margin-top: -1px;
  position: relative;
}

.div-wrapper .text-wrapper-89 {
  align-self: stretch;
  color: var(--basebase-lightest);
  font-family: var(--intro-font-family);
  font-size: var(--intro-font-size);
  font-style: var(--intro-font-style);
  font-weight: var(--intro-font-weight);
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  position: relative;
}

.div-wrapper .text-wrapper-90 {
  align-self: stretch;
  color: var(--basebase-lightest);
  font-family: var(--topic-label-font-family);
  font-size: var(--topic-label-font-size);
  font-style: var(--topic-label-font-style);
  font-weight: var(--topic-label-font-weight);
  letter-spacing: var(--topic-label-letter-spacing);
  line-height: var(--topic-label-line-height);
  position: relative;
}

.div-wrapper .frame-42 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
  width: 100%;
}

.div-wrapper .frame-43 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  flex:1;
}

.div-wrapper .frame-44 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.div-wrapper .text-wrapper-91 {
  align-self: stretch;
  color: var(--accent-coolaccent-cool-light);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  position: relative;
}

.div-wrapper .text-wrapper-92 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-list-font-family);
  font-size: var(--body-list-font-size);
  font-style: var(--body-list-font-style);
  font-weight: var(--body-list-font-weight);
  letter-spacing: var(--body-list-letter-spacing);
  line-height: var(--body-list-line-height);
  position: relative;
}

.div-wrapper .frame-45 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.div-wrapper .text-wrapper-93 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.div-wrapper .frame-46 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.div-wrapper .text-wrapper-94 {
  color: var(--accent-coolaccent-cool-light);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  position: relative;
}

.div-wrapper .text-wrapper-95 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.div-wrapper .frame-47 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.div-wrapper .text-wrapper-96 {
  color: var(--accent-coolaccent-cool-light);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  width: 358px;
}

.div-wrapper .text-wrapper-97 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-bottom: -51px;
  position: relative;
}

.div-wrapper .frame-48 {
  align-items: center;
  align-self: stretch;
  background-color: var(--primaryprimary);
  display: flex;
  gap: 10px;
  padding: 50px 10% 50px 40px;
  position: relative;
  width: 40%;
}

.div-wrapper .frame-49 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.div-wrapper .text-wrapper-98 {
  color: var(--full-white);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  position: relative;
  width: fit-content;
}

.div-wrapper .frame-50 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.div-wrapper .frame-51 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  position: relative;
  width: 100%;
}

.div-wrapper .text-wrapper-99 {
  color: var(--full-white);
  font-family: var(--quick-link-font-family);
  font-size: var(--quick-link-font-size);
  font-style: var(--quick-link-font-style);
  font-weight: var(--quick-link-font-weight);
  letter-spacing: var(--quick-link-letter-spacing);
  line-height: var(--quick-link-line-height);
  position: relative;
  text-decoration: underline;
  width: 100%;
}

.div-wrapper .text-wrapper-100 {
  color: var(--full-white);
  font-family: var(--quick-link-font-family);
  font-size: var(--quick-link-font-size);
  font-style: var(--quick-link-font-style);
  font-weight: var(--quick-link-font-weight);
  letter-spacing: var(--quick-link-letter-spacing);
  line-height: var(--quick-link-line-height);
  position: relative;
  text-decoration: underline;
  width: 100%;
}

.div-wrapper .user-interaction-2 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  left: 313px;
  position: absolute;
  top: 621px;
}

.div-wrapper .union-2 {
  height: 45.34px;
  position: relative;
  width: 34px;
}

.div-wrapper .text-wrapper-101 {
  -webkit-text-stroke: 2px #ffffff;
  border-color: var(--graygray-1);
  color: #000000;
  font-family: "Public Sans", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .frame-52 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--content-bg);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0px 0px;
  position: relative;
  width: 100%;
}

.div-wrapper .data-set-summary {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--primaryprimary-light);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 100%;
}

.div-wrapper .frame-53 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 30px;
  position: relative;
}

.div-wrapper .frame-54 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  padding: 50px 0px 50px 10%;
  position: relative;
}

.div-wrapper .frame-55 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.div-wrapper .text-wrapper-102 {
  align-self: stretch;
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.div-wrapper .text-wrapper-103 {
  align-self: stretch;
  color: var(--primaryprimary);
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
}

.div-wrapper .flexcontainer-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div-wrapper .div-9 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.div-wrapper .text-wrapper-104 {
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
}

.div-wrapper .frame-56 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 50px;
  position: relative;
  width: 100%;
}

.div-wrapper .text-wrapper-105 {
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .button-4 {
  all: unset;
  align-items: center;
  background-color: var(--primaryprimary);
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
}

.div-wrapper .button-5 {
  all: unset;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .frame-57 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--infoinfo-lighter);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 10% 50px 60px;
  position: relative;
  width: 40%;
}

.div-wrapper .text-wrapper-106 {
  align-self: stretch;
  color: var(--accent-coolaccent-cool-darker);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.div-wrapper .text-wrapper-107 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25.9px;
  position: relative;
}

.div-wrapper .frame-58 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  padding: 50px 40px 50px 150px;
  position: relative;
}

.div-wrapper .text-wrapper-108 {
  color: var(--basebase-darker);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .footer-4 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 1920px;
}

.div-wrapper .return-to-top-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 64px;
  position: relative;
  width: 100%;
}

.div-wrapper .return-to-top-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 64px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.div-wrapper .group-8 {
  align-self: stretch;
  margin-right: -2px;
  position: relative;
  width: 163px;
}

.div-wrapper .overlap-group-5 {
  background-image: url(../../../static/img/rectangle-827.svg);
  background-size: 100% 100%;
  height: 64px;
  position: relative;
  width: 161px;
}

.div-wrapper .text-wrapper-109 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 21px;
  white-space: nowrap;
  width: 98px;
}

.div-wrapper .primary-links-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #f0f0f0;
  border-color: var(--basebase-light);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 51px;
  padding: 0px 32px 0px 60px;
  position: relative;
  width: 100%;
}

.div-wrapper .footer-primary-link-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 16px;
  position: relative;
}

.div-wrapper .text-wrapper-110 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .ACL-3 {
  align-items: center;
  align-self: stretch;
  background-color: var(--grayscalegray-10);
  display: flex;
  height: 154px;
  justify-content: space-between;
  padding: 20px 60px;
  position: relative;
  width: 100%;
}

.div-wrapper .logo-block-4 {
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
  width: 555px;
}

.div-wrapper .ACL-logo-6 {
  height: 38px;
  object-fit: cover;
  position: relative;
  width: 94px;
}

.div-wrapper .AGID-title-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  position: relative;
  width: 392px;
}

.div-wrapper .text-wrapper-111 {
  align-self: stretch;
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.div-wrapper .text-wrapper-112 {
  align-self: stretch;
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.div-wrapper .contact-2 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.div-wrapper .socials-3 {
  flex: 0 0 auto;
  position: relative;
}

.div-wrapper .agency-contact-3 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  position: relative;
}

.div-wrapper .text-wrapper-113 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .group-9 {
  height: 24px;
  position: relative;
  width: 240px;
}

.div-wrapper .frame-59 {
  align-items: flex-start;
  display: inline-flex;
  gap: 30px;
  position: relative;
}

.div-wrapper .text-wrapper-114 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .site-map-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--primaryprimary-dark);
  display: flex;
  flex: 0 0 auto;
  gap: 5px;
  padding: 64px 55px;
  position: relative;
  width: 100%;
}

.div-wrapper .frame-60 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 45px;
  position: relative;
}

.div-wrapper .column-6 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 275px;
}

.div-wrapper .discover-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.div-wrapper .text-wrapper-115 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 266px;
}

.div-wrapper .footer-link-10 {
  height: 18.5px;
  position: relative;
  width: 139px;
}

.div-wrapper .footer-link-11 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.div-wrapper .frame-61 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  width: 282px;
}

.div-wrapper .column-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.div-wrapper .footer-link-12 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.div-wrapper .footer-link-13 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.2px;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.div-wrapper .frame-62 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  width: 285px;
}

.div-wrapper .text-wrapper-116 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 266px;
}

.div-wrapper .footer-link-14 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.div-wrapper .identifier-default-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--primaryprimary-darker);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 7px 44px;
  position: relative;
  width: 100%;
}

.div-wrapper .frame-63 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 30px 0px;
  position: relative;
  width: 1815px;
}

.div-wrapper .frame-64 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 860px;
}

.div-wrapper .text-wrapper-117 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .text-wrapper-118 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .frame-65 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.div-wrapper .frame-66 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.div-wrapper .text-wrapper-119 {
  color: #e6e6e6;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  width: 234px;
}

.div-wrapper .text-wrapper-120 {
  color: #e6e6e6;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  width: 234px;
}

.div-wrapper .looking-for-u-s-3 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.div-wrapper .text-wrapper-121 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.div-wrapper .text-wrapper-122 {
  text-decoration: underline;
}

.div-wrapper .header-2 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.div-wrapper .banner-content-wrapper {
  align-items: center;
  align-self: stretch;
  background-color: #f7fafc;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 9px 40px 9px 30px;
  position: relative;
  width: 100%;
}

.div-wrapper .banner-content-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  margin-right: -7px;
  position: relative;
}

.div-wrapper .us-flag-small-2 {
  height: 11px;
  position: relative;
  width: 16px;
}

.div-wrapper .content-7 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  position: relative;
  width: 1833px;
}

.div-wrapper .text-wrapper-123 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .here-s-how-you-know-2 {
  height: 16px;
  position: relative;
  width: 133px;
}

.div-wrapper .overlap-group-6 {
  height: 16px;
  position: relative;
  width: 131px;
}

.div-wrapper .text-wrapper-124 {
  color: var(--primaryprimary);
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 0;
  white-space: nowrap;
}

.div-wrapper .icon-11 {
  height: 16px;
  left: 115px;
  position: absolute;
  top: 0;
  width: 16px;
}

.div-wrapper .right-side-menu-wrapper {
  align-items: flex-end;
  align-self: stretch;
  background-color: var(--primaryprimary);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 4px 60px;
  position: relative;
  width: 100%;
}

.div-wrapper .right-side-menu-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.div-wrapper .nav-link-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  height: 50px;
  padding: 16px 16px 20px;
  position: relative;
}

.div-wrapper .frame-67 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  margin-bottom: -1px;
  position: relative;
}

.div-wrapper .text-wrapper-125 {
  color: #f7fafc;
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .logo-and-search-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  padding: 19px 60px;
  position: relative;
  width: 100%;
}

.div-wrapper .logo-block-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.div-wrapper .ACL-logo-7 {
  height: 61px;
  object-fit: cover;
  position: relative;
  width: 147px;
}

.div-wrapper .AGID-title-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 20px 0px;
  position: relative;
}

.div-wrapper .text-wrapper-126 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 389px;
}

.div-wrapper .text-wrapper-127 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 619px;
}

.div-wrapper .spacer-2 {
  flex: 1;
  flex-grow: 1;
  height: 106px;
  position: relative;
}

.div-wrapper .quick-search-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 433.03px;
}

.div-wrapper .text-wrapper-128 {
  color: var(--basebase);
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 326px;
}

.div-wrapper .search-2 {
  align-self: stretch;
  height: 30.06px;
  margin-bottom: -0.03px;
  margin-left: -0.5px;
  position: relative;
  width: 100%;
}

.div-wrapper .main-menu-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.div-wrapper .line-3 {
  align-self: stretch;
  flex: 0 0 auto;
  margin-top: -1px;
  position: relative;
  width: 100%;
}

.div-wrapper .main-menu-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 0px 60px;
  position: relative;
}

.div-wrapper .menu-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.div-wrapper .nav-link-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  height: 70px;
  justify-content: center;
  padding: 16px 16px 20px;
  position: relative;
}

.div-wrapper .frame-68 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.div-wrapper .group-10 {
  height: 70px;
  position: relative;
  width: 142px;
}

.div-wrapper .nav-link-8 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  height: 70px;
  justify-content: center;
  padding: 16px 16px 20px;
  position: relative;
}

.div-wrapper .icon-12 {
  height: 16px;
  position: relative;
  width: 16px;
}

.div-wrapper .group-11 {
  height: 70px;
  position: relative;
  width: 132px;
}

.div-wrapper .line-4 {
  align-self: stretch;
  flex: 0 0 auto;
  margin-bottom: -1px;
  position: relative;
  width: 100%;
}
