.screen-7 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen-7 .agid-8 {
  background-color: var(--full-white);
  height: 2064px;
  position: relative;
  width: 1920px;
}

.screen-7 .overlap-group-13 {
  height: 1994px;
  left: 0;
  position: absolute;
  top: 70px;
  width: 1920px;
}

.screen-7 .frame-177 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.screen-7 .filter-and-table-5 {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--basebase-dark);
  display: flex;
  flex: 0 0 auto;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  position: relative;
  width: 100%;
}

.screen-7 .component-frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  height: 1150px;
  position: relative;
}

.screen-7 .filter-set-horiz-5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--basebase-lightest);
  border-color: var(--basebase-light);
  border-right-style: solid;
  border-right-width: 1px;
  box-shadow: var(--right-edge-shadow);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  position: relative;
  width: 380px;
}

.screen-7 .data-filter-headings-8 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 340px;
}

.screen-7 .text-wrapper-286 {
  align-self: stretch;
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.screen-7 .text-wrapper-287 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.screen-7 .div-27 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-7 .text-wrapper-288 {
  align-self: stretch;
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.screen-7 .text-wrapper-289 {
  align-self: stretch;
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.screen-7 .filter-horiz-16 {
  align-items: center;
  background-color: var(--full-white);
  border: 1px solid;
  border-color: var(--basebase);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 340px;
}

.screen-7 .frame-178 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  position: relative;
  width: 296px;
}

.screen-7 .text-wrapper-290 {
  color: var(--basebase);
  font-family: "Public Sans", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .icon-37 {
  height: 24px;
  position: relative;
  width: 24px;
}

.screen-7 .frame-179 {
  height: 24px;
  position: relative;
  width: 340px;
}

.screen-7 .topic-5 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--basebase-light);
  border-radius: 16px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
}

.screen-7 .text-wrapper-291 {
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .icon-38 {
  height: 16px;
  position: relative;
  width: 16px;
}

.screen-7 .text-wrapper-292 {
  align-self: stretch;
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.screen-7 .topic-6 {
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid;
  border-color: var(--basebase-light);
  border-radius: 12px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 177px;
  padding: 0px 10px;
  position: absolute;
  top: 0;
}

.screen-7 .text-wrapper-293 {
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .topic-7 {
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid;
  border-color: var(--basebase-light);
  border-radius: 12px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 90px;
  padding: 0px 10px;
  position: absolute;
  top: 0;
}

.screen-7 .topic-8 {
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid;
  border-color: var(--basebase-light);
  border-radius: 12px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 0px 10px;
  position: absolute;
  top: 0;
}

.screen-7 .frame-180 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 5px 10px;
  position: relative;
}

.screen-7 .text-wrapper-294 {
  color: var(--primaryprimary);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .filter-horiz-17 {
  align-items: center;
  background-color: var(--full-white);
  border: 1px solid;
  border-color: var(--primaryprimary);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: 340px;
}

.screen-7 .states-territories-5 {
  color: var(--primaryprimary);
  flex: 1;
  font-family: "Public Sans", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.screen-7 .div-28 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.screen-7 .button-big-icon-24 {
  align-items: center;
  background-color: var(--primaryprimary);
  border: 1px solid;
  border-color: var(--full-white);
  border-radius: 4px;
  display: flex;
  gap: 15px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
  width: 340px;
}

.screen-7 .text-wrapper-295 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -8px;
  margin-top: -10px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .icon-39 {
  height: 26px;
  margin-bottom: -9px;
  margin-top: -9px;
  position: relative;
  width: 26px;
}

.screen-7 .text-wrapper-296 {
  color: var(--primaryprimary);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .frame-181 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.screen-7 .fjg-5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--basebase-lighter);
  border: 1px solid;
  border-color: var(--basebase);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 20px;
  position: relative;
  width: 100%;
}

.screen-7 .arrow-link-7 {
  align-items: center;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
}

.screen-7 .icon-40 {
  background-color: #d9e8f680;
  border-radius: 12px;
  height: 24px;
  position: relative;
  transform: rotate(180deg);
  width: 24px;
}

.screen-7 .icon-41 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 24px;
}

.screen-7 .text-wrapper-297 {
  color: var(--primaryprimary);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .save-bar-6 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 20px;
  justify-content: flex-end;
  padding: 10px 0px;
  position: relative;
}

.screen-7 .frame-182 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.screen-7 .frame-183 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  justify-content: flex-end;
  position: relative;
}

.screen-7 .button-big-icon-25 {
  align-items: center;
  background-color: var(--primaryprimary);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
}

.screen-7 .text-wrapper-298 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -9px;
  margin-top: -9px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .button-big-icon-26 {
  align-items: center;
  background-color: #f7fafc;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
}

.screen-7 .text-wrapper-299 {
  color: var(--errorerror-light);
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -9px;
  margin-top: -9px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .frame-184 {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  overflow: scroll;
  position: relative;
  width: 100%;
}

.screen-7 .frame-185 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  overflow: scroll;
  position: relative;
}

.screen-7 .data-table-6 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--basebase-light);
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.screen-7 .div-29 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.screen-7 .category-6 {
  align-items: flex-start;
  box-shadow: var(--card-shadow);
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.screen-7 .cell-40 {
  align-items: flex-start;
  background-color: var(--basebase-lightest);
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: var(--basebase);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 14px 10px;
  position: relative;
  width: 283px;
}

.screen-7 .frame-186 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.screen-7 .frame-187 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.screen-7 .text-wrapper-300 {
  color: var(--baseink);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .cell-41 {
  align-items: flex-start;
  background-color: var(--basebase-lightest);
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: var(--basebase);
  border-right-style: solid;
  border-right-width: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 14px 10px;
  position: relative;
  width: 150px;
}

.screen-7 .frame-188 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-7 .frame-189 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.screen-7 .div-30 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.screen-7 .cell-42 {
  align-items: flex-start;
  background-color: var(--full-white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--basebase);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 14px 20px;
  position: relative;
  width: 283px;
}

.screen-7 .text-wrapper-301 {
  align-self: stretch;
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.screen-7 .cell-43 {
  align-items: flex-start;
  background-color: var(--full-white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--basebase);
  border-right-style: solid;
  border-right-width: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 15px 10px;
  position: relative;
  width: 150px;
}

.screen-7 .text-wrapper-302 {
  color: var(--baseink);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .cell-44 {
  align-items: flex-start;
  background-color: var(--full-white);
  border-color: var(--basebase);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 283px;
}

.screen-7 .single-entry-6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 5px;
  position: relative;
  width: 100%;
}

.screen-7 .text-wrapper-303 {
  color: var(--baseink);
  flex: 1;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: right;
}

.screen-7 .cell-45 {
  align-items: flex-start;
  background-color: var(--basebase-lighter);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--basebase);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 14px 20px;
  position: relative;
  width: 283px;
}

.screen-7 .cell-46 {
  align-items: flex-start;
  background-color: var(--basebase-lighter);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--basebase);
  border-right-style: solid;
  border-right-width: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 15px 10px;
  position: relative;
  width: 150px;
}

.screen-7 .cell-47 {
  align-items: flex-start;
  background-color: var(--basebase-lighter);
  border-color: var(--basebase);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 283px;
}

.screen-7 .text-wrapper-304 {
  align-self: stretch;
  color: var(--baseink);
  font-family: var(--first-cell-font-family);
  font-size: var(--first-cell-font-size);
  font-style: var(--first-cell-font-style);
  font-weight: var(--first-cell-font-weight);
  letter-spacing: var(--first-cell-letter-spacing);
  line-height: var(--first-cell-line-height);
  margin-top: -1px;
  position: relative;
}

.screen-7 .footer-12 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 1920px;
}

.screen-7 .frame-190 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--primaryprimary-dark);
  display: flex;
  gap: 10px;
  height: 60px;
  padding: 10px 20px 20px;
  position: relative;
  width: 100%;
}

.screen-7 .frame-191 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  margin-bottom: -10px;
  position: relative;
}

.screen-7 .button-big-icon-27 {
  align-items: center;
  background-color: var(--primaryprimary-dark);
  border: 1px solid;
  border-color: var(--full-white);
  border-radius: 4px;
  display: flex;
  gap: 15px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
  width: 200px;
}

.screen-7 .text-wrapper-305 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -8px;
  margin-left: -2px;
  margin-top: -10px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .icon-42 {
  height: 26px;
  margin-bottom: -9px;
  margin-right: -2px;
  margin-top: -9px;
  position: relative;
  width: 26px;
}

.screen-7 .frame-192 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 20px;
  justify-content: flex-end;
  margin-bottom: -10px;
  position: relative;
}

.screen-7 .button-big-icon-28 {
  all: unset;
  align-items: center;
  background-color: var(--primaryprimary-dark);
  border: 1px solid;
  border-color: var(--full-white);
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
}

.screen-7 .footer-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-7 .primary-links-8 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #f0f0f0;
  border-color: var(--basebase-light);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 51px;
  padding: 0px 32px 0px 60px;
  position: relative;
  width: 100%;
}

.screen-7 .footer-primary-link-8 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 16px;
  position: relative;
}

.screen-7 .text-wrapper-306 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .ACL-8 {
  align-items: center;
  align-self: stretch;
  background-color: var(--grayscalegray-10);
  display: flex;
  height: 154px;
  justify-content: space-between;
  padding: 20px 60px;
  position: relative;
  width: 100%;
}

.screen-7 .logo-block-11 {
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
  width: 555px;
}

.screen-7 .ACL-logo-13 {
  height: 38px;
  object-fit: cover;
  position: relative;
  width: 94px;
}

.screen-7 .AGID-title-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  position: relative;
  width: 392px;
}

.screen-7 .text-wrapper-307 {
  align-self: stretch;
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.screen-7 .text-wrapper-308 {
  align-self: stretch;
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.screen-7 .socials-8 {
  flex: 0 0 auto;
  position: relative;
}

.screen-7 .agency-contact-8 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  position: relative;
}

.screen-7 .text-wrapper-309 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .group-26 {
  height: 24px;
  position: relative;
  width: 240px;
}

.screen-7 .frame-193 {
  align-items: flex-start;
  display: inline-flex;
  gap: 30px;
  position: relative;
}

.screen-7 .text-wrapper-310 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .site-map-8 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--primaryprimary-dark);
  display: flex;
  flex: 0 0 auto;
  gap: 5px;
  padding: 64px 55px;
  position: relative;
  width: 100%;
}

.screen-7 .frame-194 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 45px;
  position: relative;
}

.screen-7 .column-16 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 275px;
}

.screen-7 .discover-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.screen-7 .text-wrapper-311 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 266px;
}

.screen-7 .footer-link-35 {
  height: 18.5px;
  position: relative;
  width: 139px;
}

.screen-7 .footer-link-36 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.screen-7 .frame-195 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  width: 282px;
}

.screen-7 .column-17 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.screen-7 .footer-link-37 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.screen-7 .footer-link-38 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.2px;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.screen-7 .frame-196 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  width: 285px;
}

.screen-7 .text-wrapper-312 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 266px;
}

.screen-7 .footer-link-39 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.screen-7 .identifier-default-8 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--primaryprimary-darker);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 7px 44px;
  position: relative;
  width: 100%;
}

.screen-7 .frame-197 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 30px 0px;
  position: relative;
  width: 1815px;
}

.screen-7 .frame-198 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 860px;
}

.screen-7 .text-wrapper-313 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .text-wrapper-314 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .frame-199 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.screen-7 .text-wrapper-315 {
  color: #e6e6e6;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  width: 234px;
}

.screen-7 .text-wrapper-316 {
  color: #e6e6e6;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  width: 234px;
}

.screen-7 .looking-for-u-s-7 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.screen-7 .text-wrapper-317 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.screen-7 .text-wrapper-318 {
  text-decoration: underline;
}

.screen-7 .user-interaction-8 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  left: 231px;
  position: absolute;
  top: 602px;
}

.screen-7 .union-7 {
  height: 45.34px;
  position: relative;
  width: 34px;
}

.screen-7 .text-wrapper-319 {
  -webkit-text-stroke: 2px #ffffff;
  border-color: var(--graygray-1);
  color: #000000;
  font-family: "Public Sans", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .mini-menu-4 {
  align-items: flex-start;
  background-color: var(--primaryprimary-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.screen-7 .main-menu-10 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
}

.screen-7 .menu-8 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.screen-7 .text-wrapper-320 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .nav-link-18 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  height: 70px;
  justify-content: center;
  padding: 16px 16px 20px;
  position: relative;
}

.screen-7 .frame-200 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.screen-7 .text-wrapper-321 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-7 .group-27 {
  height: 70px;
  position: relative;
  width: 142px;
}

.screen-7 .nav-link-19 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  height: 70px;
  justify-content: center;
  padding: 16px 16px 20px;
  position: relative;
}

.screen-7 .group-28 {
  height: 70px;
  position: relative;
  width: 132px;
}
