.screen-8 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen-8 .agid-9 {
  background-color: var(--full-white);
  height: 2064px;
  position: relative;
  width: 1920px;
}

.screen-8 .overlap-group-14 {
  height: 1994px;
  left: 0;
  position: absolute;
  top: 70px;
  width: 1920px;
}

.screen-8 .frame-201 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.screen-8 .filter-and-table-6 {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--basebase-dark);
  display: flex;
  flex: 0 0 auto;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  position: relative;
  width: 100%;
}

.screen-8 .component {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  height: 1150px;
  position: relative;
}

.screen-8 .filter-set-horiz-6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--basebase-lightest);
  border-color: var(--basebase-light);
  border-right-style: solid;
  border-right-width: 1px;
  box-shadow: var(--right-edge-shadow);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  position: relative;
  width: 380px;
}

.screen-8 .data-filter-headings-9 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 340px;
}

.screen-8 .text-wrapper-322 {
  align-self: stretch;
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.screen-8 .text-wrapper-323 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.screen-8 .div-31 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-8 .text-wrapper-324 {
  align-self: stretch;
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.screen-8 .text-wrapper-325 {
  align-self: stretch;
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.screen-8 .filter-horiz-18 {
  align-items: center;
  background-color: var(--full-white);
  border: 1px solid;
  border-color: var(--basebase);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 340px;
}

.screen-8 .frame-202 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  position: relative;
  width: 296px;
}

.screen-8 .text-wrapper-326 {
  color: var(--basebase);
  font-family: "Public Sans", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .img-4 {
  height: 24px;
  position: relative;
  width: 24px;
}

.screen-8 .frame-203 {
  height: 24px;
  position: relative;
  width: 340px;
}

.screen-8 .topic-9 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--basebase-light);
  border-radius: 16px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
}

.screen-8 .text-wrapper-327 {
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .icon-43 {
  height: 16px;
  position: relative;
  width: 16px;
}

.screen-8 .text-wrapper-328 {
  align-self: stretch;
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.screen-8 .topic-10 {
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid;
  border-color: var(--basebase-light);
  border-radius: 12px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 177px;
  padding: 0px 10px;
  position: absolute;
  top: 0;
}

.screen-8 .text-wrapper-329 {
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .topic-11 {
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid;
  border-color: var(--basebase-light);
  border-radius: 12px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 90px;
  padding: 0px 10px;
  position: absolute;
  top: 0;
}

.screen-8 .topic-12 {
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid;
  border-color: var(--basebase-light);
  border-radius: 12px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 0px 10px;
  position: absolute;
  top: 0;
}

.screen-8 .frame-204 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 5px 10px;
  position: relative;
}

.screen-8 .text-wrapper-330 {
  color: var(--primaryprimary);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .filter-horiz-19 {
  align-items: center;
  background-color: var(--full-white);
  border: 1px solid;
  border-color: var(--primaryprimary);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: 340px;
}

.screen-8 .states-territories-6 {
  color: var(--primaryprimary);
  flex: 1;
  font-family: "Public Sans", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.screen-8 .div-32 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.screen-8 .button-big-icon-29 {
  align-items: center;
  background-color: var(--primaryprimary);
  border: 1px solid;
  border-color: var(--full-white);
  border-radius: 4px;
  display: flex;
  gap: 15px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
  width: 340px;
}

.screen-8 .text-wrapper-331 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -8px;
  margin-top: -10px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .icon-44 {
  height: 26px;
  margin-bottom: -9px;
  margin-top: -9px;
  position: relative;
  width: 26px;
}

.screen-8 .text-wrapper-332 {
  color: var(--primaryprimary);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .options-hoirz-6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--full-white);
  border: 1px solid;
  border-color: var(--basebase-lightest);
  box-shadow: var(--right-edge-shadow);
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
  position: relative;
}

.screen-8 .frame-205 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.screen-8 .data-filter-headings-10 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.screen-8 .select-states {
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .frame-206 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 50px;
  position: relative;
}

.screen-8 .frame-207 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 285px;
}

.screen-8 .topics-3 {
  align-items: center;
  align-self: stretch;
  background-color: var(--full-white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--basebase-lighter);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px 10px 10px 20px;
  position: relative;
  width: 100%;
}

.screen-8 .div-33 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.screen-8 .text-wrapper-333 {
  color: var(--basebase-dark);
  flex: 1;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22.5px;
  margin-top: -1px;
  position: relative;
}

.screen-8 .frame-208 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  margin-bottom: -18px;
  position: relative;
  width: 100%;
}

.screen-8 .button-big-icon-30 {
  all: unset;
  align-items: center;
  background-color: var(--primaryprimary);
  border: 1px solid;
  border-color: var(--full-white);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  gap: 15px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
  width: 200px;
}

.screen-8 .frame-209 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.screen-8 .fjg-6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--basebase-lighter);
  border: 1px solid;
  border-color: var(--basebase);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 20px;
  position: relative;
  width: 100%;
}

.screen-8 .arrow-link-8 {
  align-items: center;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
}

.screen-8 .icon-45 {
  background-color: #d9e8f680;
  border-radius: 12px;
  height: 24px;
  position: relative;
  transform: rotate(180deg);
  width: 24px;
}

.screen-8 .icon-46 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 24px;
}

.screen-8 .save-bar-7 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 20px;
  justify-content: flex-end;
  padding: 10px 0px;
  position: relative;
}

.screen-8 .frame-210 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.screen-8 .frame-211 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  justify-content: flex-end;
  position: relative;
}

.screen-8 .button-big-icon-31 {
  align-items: center;
  background-color: var(--primaryprimary);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
}

.screen-8 .text-wrapper-334 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -9px;
  margin-top: -9px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .button-big-icon-32 {
  align-items: center;
  background-color: #f7fafc;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
}

.screen-8 .text-wrapper-335 {
  color: var(--errorerror-light);
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -9px;
  margin-top: -9px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .frame-212 {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  overflow: scroll;
  position: relative;
  width: 100%;
}

.screen-8 .frame-213 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  overflow: scroll;
  position: relative;
}

.screen-8 .data-table-7 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--basebase-light);
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.screen-8 .div-34 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.screen-8 .category-7 {
  align-items: flex-start;
  box-shadow: var(--card-shadow);
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.screen-8 .cell-48 {
  align-items: flex-start;
  background-color: var(--basebase-lightest);
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: var(--basebase);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 14px 10px;
  position: relative;
  width: 283px;
}

.screen-8 .frame-214 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.screen-8 .frame-215 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.screen-8 .text-wrapper-336 {
  color: var(--baseink);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .cell-49 {
  align-items: flex-start;
  background-color: var(--basebase-lightest);
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: var(--basebase);
  border-right-style: solid;
  border-right-width: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 14px 10px;
  position: relative;
  width: 150px;
}

.screen-8 .frame-216 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-8 .div-35 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.screen-8 .cell-50 {
  align-items: flex-start;
  background-color: var(--full-white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--basebase);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 14px 20px;
  position: relative;
  width: 283px;
}

.screen-8 .text-wrapper-337 {
  align-self: stretch;
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.screen-8 .cell-51 {
  align-items: flex-start;
  background-color: var(--full-white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--basebase);
  border-right-style: solid;
  border-right-width: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 15px 10px;
  position: relative;
  width: 150px;
}

.screen-8 .text-wrapper-338 {
  color: var(--baseink);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .cell-52 {
  align-items: flex-start;
  background-color: var(--full-white);
  border-color: var(--basebase);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 283px;
}

.screen-8 .single-entry-7 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 5px;
  position: relative;
  width: 100%;
}

.screen-8 .text-wrapper-339 {
  color: var(--baseink);
  flex: 1;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: right;
}

.screen-8 .cell-53 {
  align-items: flex-start;
  background-color: var(--basebase-lighter);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--basebase);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 14px 20px;
  position: relative;
  width: 283px;
}

.screen-8 .cell-54 {
  align-items: flex-start;
  background-color: var(--basebase-lighter);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--basebase);
  border-right-style: solid;
  border-right-width: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 15px 10px;
  position: relative;
  width: 150px;
}

.screen-8 .cell-55 {
  align-items: flex-start;
  background-color: var(--basebase-lighter);
  border-color: var(--basebase);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 283px;
}

.screen-8 .text-wrapper-340 {
  align-self: stretch;
  color: var(--baseink);
  font-family: var(--first-cell-font-family);
  font-size: var(--first-cell-font-size);
  font-style: var(--first-cell-font-style);
  font-weight: var(--first-cell-font-weight);
  letter-spacing: var(--first-cell-letter-spacing);
  line-height: var(--first-cell-line-height);
  margin-top: -1px;
  position: relative;
}

.screen-8 .footer-14 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 1920px;
}

.screen-8 .frame-217 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--primaryprimary-dark);
  display: flex;
  gap: 10px;
  height: 60px;
  padding: 10px 20px 20px;
  position: relative;
  width: 100%;
}

.screen-8 .frame-218 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  margin-bottom: -10px;
  position: relative;
}

.screen-8 .button-big-icon-33 {
  align-items: center;
  background-color: var(--primaryprimary-dark);
  border: 1px solid;
  border-color: var(--full-white);
  border-radius: 4px;
  display: flex;
  gap: 15px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
  width: 200px;
}

.screen-8 .text-wrapper-341 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -8px;
  margin-left: -2px;
  margin-top: -10px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .icon-47 {
  height: 26px;
  margin-bottom: -9px;
  margin-right: -2px;
  margin-top: -9px;
  position: relative;
  width: 26px;
}

.screen-8 .frame-219 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 20px;
  justify-content: flex-end;
  margin-bottom: -10px;
  position: relative;
}

.screen-8 .button-big-icon-34 {
  all: unset;
  align-items: center;
  background-color: var(--primaryprimary-dark);
  border: 1px solid;
  border-color: var(--full-white);
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
}

.screen-8 .footer-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-8 .primary-links-9 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #f0f0f0;
  border-color: var(--basebase-light);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 51px;
  padding: 0px 32px 0px 60px;
  position: relative;
  width: 100%;
}

.screen-8 .footer-primary-link-9 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 16px;
  position: relative;
}

.screen-8 .text-wrapper-342 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .ACL-9 {
  align-items: center;
  align-self: stretch;
  background-color: var(--grayscalegray-10);
  display: flex;
  height: 154px;
  justify-content: space-between;
  padding: 20px 60px;
  position: relative;
  width: 100%;
}

.screen-8 .logo-block-12 {
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
  width: 555px;
}

.screen-8 .ACL-logo-14 {
  height: 38px;
  object-fit: cover;
  position: relative;
  width: 94px;
}

.screen-8 .AGID-title-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  position: relative;
  width: 392px;
}

.screen-8 .text-wrapper-343 {
  align-self: stretch;
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.screen-8 .text-wrapper-344 {
  align-self: stretch;
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.screen-8 .socials-9 {
  flex: 0 0 auto;
  position: relative;
}

.screen-8 .agency-contact-9 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  position: relative;
}

.screen-8 .text-wrapper-345 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .group-29 {
  height: 24px;
  position: relative;
  width: 240px;
}

.screen-8 .frame-220 {
  align-items: flex-start;
  display: inline-flex;
  gap: 30px;
  position: relative;
}

.screen-8 .text-wrapper-346 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .site-map-9 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--primaryprimary-dark);
  display: flex;
  flex: 0 0 auto;
  gap: 5px;
  padding: 64px 55px;
  position: relative;
  width: 100%;
}

.screen-8 .frame-221 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 45px;
  position: relative;
}

.screen-8 .column-18 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 275px;
}

.screen-8 .discover-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.screen-8 .text-wrapper-347 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 266px;
}

.screen-8 .footer-link-40 {
  height: 18.5px;
  position: relative;
  width: 139px;
}

.screen-8 .footer-link-41 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.screen-8 .frame-222 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  width: 282px;
}

.screen-8 .column-19 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.screen-8 .footer-link-42 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.screen-8 .footer-link-43 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.2px;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.screen-8 .frame-223 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  width: 285px;
}

.screen-8 .text-wrapper-348 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 266px;
}

.screen-8 .footer-link-44 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.screen-8 .identifier-default-9 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--primaryprimary-darker);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 7px 44px;
  position: relative;
  width: 100%;
}

.screen-8 .frame-224 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 30px 0px;
  position: relative;
  width: 1815px;
}

.screen-8 .frame-225 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 860px;
}

.screen-8 .text-wrapper-349 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .text-wrapper-350 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .frame-226 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.screen-8 .text-wrapper-351 {
  color: #e6e6e6;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  width: 234px;
}

.screen-8 .text-wrapper-352 {
  color: #e6e6e6;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  width: 234px;
}

.screen-8 .looking-for-u-s-8 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.screen-8 .text-wrapper-353 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.screen-8 .text-wrapper-354 {
  text-decoration: underline;
}

.screen-8 .user-interaction-9 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  left: 415px;
  position: absolute;
  top: 444px;
}

.screen-8 .union-8 {
  height: 45.34px;
  position: relative;
  width: 34px;
}

.screen-8 .text-wrapper-355 {
  -webkit-text-stroke: 2px #ffffff;
  border-color: var(--graygray-1);
  color: #000000;
  font-family: "Public Sans", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .mini-menu-5 {
  align-items: flex-start;
  background-color: var(--primaryprimary-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.screen-8 .main-menu-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
}

.screen-8 .menu-9 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.screen-8 .text-wrapper-356 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .nav-link-20 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  height: 70px;
  justify-content: center;
  padding: 16px 16px 20px;
  position: relative;
}

.screen-8 .frame-227 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.screen-8 .text-wrapper-357 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-8 .group-30 {
  height: 70px;
  position: relative;
  width: 142px;
}

.screen-8 .nav-link-21 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  height: 70px;
  justify-content: center;
  padding: 16px 16px 20px;
  position: relative;
}

.screen-8 .group-31 {
  height: 70px;
  position: relative;
  width: 132px;
}
